<div class="form-control">
    <div class="row">
        <div class="col">
            <h3>{{ form_label(addressForm) }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            {{ form_row(addressForm.number) }}
        </div>

        <div class="col">
            {{ form_row(addressForm.line1) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(addressForm.line2) }}
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            {{ form_row(addressForm.postalCode) }}
        </div>

        <div class="col">
            {{ form_row(addressForm.city) }}
        </div>
    </div>
</div>
